---
title: Contact me
redirect_from: /twitter-migration/
metadata:
  description: zxcv
---

{% extends 'src/_layouts/layout.njk' %}

{% block main %}
  <div class="kim-!-margin-block-8-9">
    <div class="kimWrapper">
      <h1 class="kimHeading-xl">
        Contactme
      </h1>
      <div class="kimGrid">
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-oneHalf">
          <p class="kimBody-l">asdf</p>
        </div>
        <div class="kimGrid_column kimGrid_column-full intrepid:kimGrid_column-oneHalf">
          <ul class="kimList kimList-spaced">
            This is kind of a bespoke layout. contact.njk

            {% pairedcanned %}
            {{ page.url }} {{page.inputPath}}
            {% endpairedcanned %}
            </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}